/* your theme's styles */
body {
	padding:0;
	margin:0;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	overflow: hidden;
}

div#map {
	  z-index: 1;
	  height: 100%;
	  width: calc(100% - 260px);
	  position: absolute;
	  left: 260px;
	  top: 0;
	  right: 0;
	  bottom:0;
}

#ballard-4culture-style_icon{
	background:url(../images/ballard-4culture-style_icon.png) left center;
	width:26px;
	height:22px;
	display: block;
	float: left;
}

#popup-content {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 22px;
  padding: 0px 0px 1em 0px;
  overflow-x: auto;
}

.ui-tabs-tab {
	font: 500 14px/22px 'Oswald', 'Helvetica Neue', sans-serif;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: #454545 !important;
	border: #222222 !important;
	font-weight: 500 !important;
}

.hidden {
	opacity: 0 !important;
}

.ui-dialog-titlebar {
  background: #cca71a !important;
  color: #fff !important;
  font-weight: 700;
}

#popup-content h4 {
  margin: 0;
  padding: 10px;
  font-weight: 600;
}

#popup-content p {
  padding: 10px;
}

#popup-content p a:link {
	text-decoration: underline;
}

#popup-content p a:hover {
	text-decoration: none;
}

/*This formatting is for the  name of the fields in the pop-up if they are put in place using EGs fillpopup_ function in onload.js*/
span.varname{
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	color: #363535;
}

/*This is formatting for the text that follows the label*/
span.attribute {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: #5b5b5b;
	margin-top: 0;
    margin-bottom: 0;
}

.attribute a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #cca71a;
    transition: 0.3s
}

/*This changes the size of the image in the popup*/
img {
	max-height:  100%;
	max-width:  100%;
}

.mapboxgl-popup-content {
	max-width: 300px;
}



ul{
	list-style-type:none;
	font-size:
}



	a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* This code makes the sidenav 'always on' */
.sidenav {
  height: 100%;
  width: 260px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffff;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Use this to make the fixed sidenav a fly-out
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffff;
    overflow-x: hidden;
    transition: 0.5s;
}*/

/*.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    display: block;
    transition: 0.3s
}*/

p.navtitle {
    padding: 20px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
	font-weight: bold;
    color: #b1d4cb;
    display: block;
    transition: 0.3s
}

img  {
background-color: transparent;
border: none;
}

p.moreinfo  {
  padding: 8px 48px 8px 32px;
  background: #ffff;
  color:#4a4a4a;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size:14px;
 /* width:auto !important;*/
}

/* I'm starting this as a copy of .moreinfo, with just the top & bottom padding removed */
p.districtswitcher, p.zoomoutlink  {
  padding: 0px 8px 0px 32px;
  background: #ffff;
  color:#4a4a4a;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size:14px;
 /* width:auto !important;*/
}

p.districtswitcher  {
	display: none; /* leave this as display:none because the code in the page will make the right control visible */
}

p.zoomoutlink {
	display: block;
}

/* some text that just needs to be hidden by default so the code can activate the context-appropriate option */
span#house-district-reference, span#senate-district-reference {
	display: none;
}

p.programs  {
  padding: 8px 8px 8px 32px;
  background: #ffff;
  color:#4a4a4a;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size:10px;
 /* width:auto !important;*/
}

 .sidenav .programlink {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #cca71a;
    transition: 0.3s
}

.sidenav img {
	width: 240px;
	padding: 0px 30px;
}

.sidenav p.moreinfo img {
	padding: 0px;
}

 .content .programlink {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #cca71a;
    transition: 0.3s
}

.sidenav .svg_old {

}

.sidenav a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #cca71a;
    transition: 0.3s
}

.content a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #cca71a;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #a1a1a1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 28px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 0px;
}

#about {
	/*transition: margin-left .5s;
    padding: 16px;*/
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #ffff;
	filter: alpha(opacity = 0);
    position:fixed;
	padding:5px 5px 5px 5px;
	left:20px;
	top:20px;
    display:block;
    z-index:2;
    background:#cca71a;
	overflow: auto;
}

#header {
	/*this holds the title and prevents the text from scrolling underneath*/
	width: 260px;
	height: 60px;
	position: fixed;
	padding: 0;
	z-index: 1;
	background: #ffffff;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #949494;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fffff;
}

button.collapsible  {
  padding: 8px 8px 8px 32px;
  background: #ffff;
  color:#4a4a4a;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size:12px;
 /* width:auto !important;*/
  }

/*Styling for hr in pop-ups*/

hr.divider {
  border-top: 1px dotted #bdbfc1;
}
