Header add Content-Security-Policy "default-src 'self' *.mapbox.com data: blob:; style-src 'self' *.mapbox.com 'unsafe-inline' https:; style-src-elem *.mapbox.com https: 'unsafe-inline'; script-src 'self' *.mapbox.com 'unsafe-inline' https: blob:;"
